<div class="container">
    <div class="row">
        <div class="col-6">
            <ul>
                <li *ngFor="let book of books">{{ book }}</li>
            </ul>
        </div>
        <div class="col-6">
            <input class="form-control" placeholder="Neues Buch erstellen" [(ngModel)]="newBookTitle">

            <button class="mt-2 btn btn-outline-success" [disabled]="newBookTitle.length > maxTitleLength "
                (click)="addNewBook()">
                Buch hinzufügen!
            </button>

            <div class="'alert alert-' + (newBookTitle.length < maxTitleLength  ? 'primary' : 'warning') "
                *ngIf=" newBookTitle !=  '' ">
                Wenn sie auf den Button klicken, wird ein neues Buch mit dem Namen <i>{{ newBookTitle }}</i> erstellt.
            </div>
        </div>
    </div>
</div>