<div class="card p-3">
    <div class="row">
        <div class="col-6">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Autor(en)</th>
                        <th>Aktionen</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of books">
                        <td>{{ book.title }}</td>
                        <td>{{ book.authors }}</td>
                        <td>
                            <button class="btn btn-outline-danger" (click)="deleteBook(book)">Löschen</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <input class="form-control" placeholder="Neues Buch erstellen" [(ngModel)]="newBookTitle">
            <input class="form-control" placeholder="Autor eingeben" [(ngModel)]="newBookAuthor">

            <button class="mt-2 btn btn-outline-success" [disabled]="newBookTitle.length > maxTitleLength "
                (click)="addNewBook()">
                Buch hinzufügen!
            </button>

            <div [class]="'alert alert-' + (newBookTitle.length <= maxTitleLength  ? 'primary' : 'warning') "
                *ngIf=" newBookTitle !=  '' ">
                <span *ngIf="newBookTitle.length <= maxTitleLength">Wenn sie auf den Button klicken, wird ein neues Buch
                    mit dem Namen<i>{{ newBookTitle }}</i>erstellt.Und dem Autor {{ newBookAuthor }}.</span>
                <span *ngIf="newBookTitle.length > maxTitleLength">Der Titel ist mit
                    {{newBookTitle.length}} Zeichen
                    {{newBookTitle.length >= maxTitleLength * 2 ? 'viel' : ''}} zulang
                    {{newBookTitle.length >= maxTitleLength * 3 ? ', du Depp' : ''}}!</span>
            </div>
        </div>
    </div>
</div>