<div class="container">
    <div class="row">
        <div class="col-5 mx-auto">
            <h1>Login</h1>

            <div class="alert alert-danger" *ngIf="formInvalid">
                Das Format ist ungültig, bitte überprüfen sie ihre Eingaben nochmals!
            </div>

            <div class="form-group">
                <label for="inputUsername">Benutzername</label>
                <input type="text" class="form-control" id="inputUsername" [(ngModel)]="username"
                    placeholder="Benutzername eingeben">
                <small class="form-text text-muted">Wir werden ihre Daten nur an Google, Apple und Microsoft
                    verkaufen.</small>
            </div>
            <div class="form-group">
                <label for="inputPasswort">Passwort</label>
                <input type="password" id="inputPasswort" class="form-control" [(ngModel)]="password"
                    placeholder="Passwort eingeben">
            </div>
            <button class="btn btn-primary" (click)="login">Anmelden</button>
        </div>
    </div>
</div>