<div class="container">
    <div class="row">
        <div class="col-5 mx-auto">
            <h1>Login</h1>
            <form>
                <div class="form-group">
                    <label for="inputUsername">Benutzername</label>
                    <input type="email" class="form-control" id="inputUsername" placeholder="Benutzername eingeben">
                    <small class="form-text text-muted">Wir werden ihre Daten nur an Google, Apple und Microsoft
                        verkaufen.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Passwort</label>
                    <input type="password" class="form-control" placeholder="Passwort eingeben">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>